html {
  background-color: #fff0f5;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #fff0f5;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 0 24px;
  box-sizing: border-box;
}

.question-box {
  margin: 20px 0;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}

#no {
  position: relative;
}

img {
  width: 250px;
  height: auto;
  border: 3px solid #333;
  border-radius: 12px;
  margin-top: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: center
}

#kuroms-kissing-photo {
  display: none;
}
